<div class="container">
  <div class="row">
    <div class="col-lg-7 mt-3 mx-auto">
      <h1>
        Welcome to 
        <strong><i class="fa-solid fa-book"></i>Bookers
        </strong> !!
      </h1>
      <p>
        In 
        <strong><i class="fa-solid fa-book"></i>Bookers</strong>,<br>
        you can share and exchange your opinions , inpressions , and emotions<br>
        about various books!
      </p>
      
      <div class="d-grid gap-2 col-6 mx-auto">
        <div class="row">
          <a class="btn btn-lg btn-primary btn-block mb-3" href="/sign_in/" role="button">Log in</a>
        </div>
        <div>
        <div class="row">
          <a class="btn btn-lg btn-success btn-block" href="/sign_up/" role="button">Sign up</a>
        </div>  
        </div>
      </div>
    </div>
  </div>
</div>



